<p>Chào bạn <b><%= fullname %></b> (<%= schoolId %>)
<p>Cảm ơn bạn đã tham gia hoạt động sự kiện <%= eventName %>.</p>
<p>Chúc bạn sẽ có buổi tham sự kiện nhiều niềm vui và đầy ý nghĩa.</p>
<br>
<small>Attended at <%= time %></small>